* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #2e3c52;
    --sec-color: #1cbb9c;
    --text-color: #ffffff;
}

#header {
    background-color: var(--main-color);
    color: var(--text-color);
    position: sticky;
    top: 0;
}

#header>h2>a {
    text-decoration: none;
    color: var(--text-color);
    /* font-size: 20px; */
    font-weight: bolder;
}

ul>li {
    list-style: none;
}

ul>li>a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bolder;
}

ul>li>a:hover {
    color: var(--sec-color);
}